//already_maked_css
body{
    padding:0 0 0px 0;
    height: 100%;
    margin:0;
    color:white;
}
#navbar li{
    list-style: none;
    color: white;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    vertical-align: middle;
    height:50px;
    padding:20px 20px 0 20px;
    margin:0;
}
#navbar ul{
    width:auto;
    height: 100%;
    margin:0;
    padding:0;
    display:flex;
    margin-right:20px;
}
#navbar{
    background-color: #be3144;
    height:100%;
    display:flex;
    justify-content: right;
    width:100%;
    height: 70px;
    position:fixed;
    padding-top:0;
    margin:0;
    z-index: 100;
    
}
#navbar li:hover{
    background-color:#45567d;
}
#welcome-section{
    height:100vh;
    background-image: linear-gradient(62deg,#3a3d40,#181719);
    /* display: flex;
    justify-content: center; */
}
#welcome-section div{
    display:flex;
    flex-direction:column;
    justify-content: center;
    height: 100%;
    text-align: center;
}
#welcome-section div h1{
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    margin:0;
}
#welcome-section p{
    font-family: 'Poppins', sans-serif;
    font-size:30px;
    color:#be3144;
    margin:10px 0 0 0;
    font-style: italic;
    font-weight:600;
}
#projects{
    background-color:#45567d;
    display: flex;
    flex-direction: column;
    height:auto;
}
#projects h2{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 38px;
    width: auto;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-bottom: 5px;
    margin:80px 10px 0 20px ;
}
hr{
    width:45%;
}
#act-projects{
    display:grid;
    width:auto;
    grid-template-rows:410px 410px;
    grid-template-columns:minmax(320px,30%) minmax(320px,30%) minmax(320px,30%);
    object-fit: cover;
    gap:30px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}
#act-projects a{
    height:100%;
    width:100%;
    margin: 0;
    justify-content: center;
}
.shit{
    display: inline-block;
    object-fit: cover;
    height: calc(100% - 65px);
    width:100%;
    margin: 0;
}
#poop{
    display: flex;
    justify-content: center;
    margin-block: 70px;
}
#projects>h2{
    margin-top: 0;
    padding-top: 100px;
}
#act-projects p{
    background-color: #3a3d40;   
    margin: 0;
    position: relative;
    bottom: 10px;
    height: 45px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
}
button{
    background-color: #3a3d40;
    font-family: 'Poppins', sans-serif;
    color: white;
    height: 45px;
    width:130px;
    font-size: 20px;
    border-width: 0;
    transition: background-color,300ms;
}
#pop{
    display: flex;
    justify-content: center;
    padding: 60px 0 90px 0;
    margin-top: 60px;

}
footer{
    background-color: #303841;;
}
#f1{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 55px;
}
#f2{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 30px;

}
i{
    color: white;
    margin-right: 5px;
}
#profile-link2 a {
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    top:0;
    position: relative;
    transition: top,300ms;
    margin-top: 20px;
}
#profile-link2 a:hover{
    position: relative;
    top: 7px;
}
#profile-link2{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
#LBNL{
    display: flex;
    justify-content: space-evenly;
    border-top-width: 3px;
    border-top-color: #be3144;
    border-top-style: solid;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding:20px 0px 20px 0px;
}
#susi{
    margin-left: 30px;
    margin-right: 15px;
}
#baka{
    margin-left: 15px;
    margin-right: 30px;
}
#preLBNL{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
}
a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
}
#act-projects a:link{
    color: white;
    text-decoration: none;
}
#act-projects a:visited{
    color: white;
    text-decoration: none;
}
.code{
    color:#3a3d40;
    transition: color 300ms;
}
.abc:hover .code{
    color:#be4858;
}
#pop a{
    cursor: pointer;
}
#code2{
    font-weight:900;
    transition:left,300ms;
    left:0;
    position: relative;
}
#pop button:hover{
    background-color: #be3144;
}
#pop button:hover #code2{
    position: relative;
    left: 5px;
}
@media (max-width:1090px){
    #act-projects{
        grid-template-columns:minmax(320px,45%) minmax(320px,45%) ;
        grid-template-rows:410px 410px;

    }
}
@media (max-width:730px){
    #act-projects{
        grid-template-columns: minmax(320px,90%) ;
        grid-template-rows:410px 410px;

    }
}
#h2poo{
    display: flex;
    justify-content: center;
}
@media (max-width:1200px){
    #projects h2{
        border-bottom-width:1px;
        font-size: 37px;
    }
}
@media (max-width:630px){
    #navbar{
        justify-content:space-evenly;

    }
}

//Aded_SCSS:





















